* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
}
.smallnav {
  width: 100%;
  height: 54px;
  background: linear-gradient(90.57deg, #16f0df -25.31%, #5849e2 103.48%);
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.mailsec {
  width: 218px;
  height: 21px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 982px;
  overflow: hidden;
  z-index: 2;
}
.mail {
  width: 191px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mailic {
  width: 20px;
  height: 16px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.phonesec {
  width: 212px;
  height: 21px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1203px;
  overflow: hidden;
  z-index: 2;
}
.phone {
  width: 191px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.phoneic {
  width: 15px;
  height: 15px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.contactb {
  width: 139px;
  height: 49px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 1209px;
  overflow: hidden;
  z-index: 1;
}
.contactus {
  width: 139px;
  height: 49px;
  background: rgba(72, 115, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  z-index: 1;
}
.contactus:hover {
  width: 139px;
  height: 49px;
  background: rgb(0, 0, 0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  color: white;
  animation: in 1s ease-out forwards;
}

.contactusbutton {
  width: 93px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 27px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}
.navinsights {
  width: 57px;
  color: black;
  position: absolute;
  top: 114px;
  left: 537px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}
.nav:active {
  color: rgba(72, 115, 255, 1);
  font-weight: 700;
}
.nav:focus {
  color: rgba(72, 115, 255, 1);
  font-weight: 700;
}
.navdeals {
  width: 106px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 114px;
  left: 625px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}
.navcareer {
  width: 49px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 114px;
  left: 761px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}
.navabout {
  width: 62px;
  color: rgba(72, 115, 255, 1);
  font-weight: 700;
  position: absolute;
  top: 114px;
  left: 840px;
  font-family: Poppins;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}
.searchic {
  width: 50px;
  height: 38px;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 1129px;
  overflow: hidden;
  z-index: 1;
}
.line {
  position: absolute;
  width: 38px;
  height: 9px;
  left: 34px;
  top: 18px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}
.mainlogo {
  width: 162px;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 100px;
  overflow: hidden;
  z-index: 1;
}
.v3_2 {
  width: 100%;
  height: 1856px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.trustback {
    width: 534px;
    height: 64px;
    background: rgba(230, 236, 255, 1);
    opacity: 1;
    position: absolute;
    top: 999px;
    left: 985px;
    overflow: hidden;
}
.trustclient {
  width: 100%;
  height: 279px;
  position: absolute;
  top: 857px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}
.aboutdescc {
  width: 506px;
  color: rgba(74, 71, 84, 1);
  position: absolute;
  top: 292px;
  left: 467px;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  z-index: 1;
}
.visioncard {
  width: 401px;
  height: 275px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05999999865889549);
  overflow: hidden;
  z-index: 1;
}
.visionback {
  width: 265px;
  height: 265px;
  background: url("assests/visionvisionback.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 168px;
  overflow: hidden;
  z-index: 1;
}
.missioncard {
  width: 401px;
  height: 275px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 519px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  z-index: 1;
}
.valuescard {
  width: 401px;
  height: 275px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 938px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  z-index: 1;
}
.valuesback {
  width: 265px;
  height: 265px;
  position: absolute;
  top: 515px;
  left: 1006px;
  overflow: hidden;
  z-index: 1;
}
.visiondesc {
  width: 290px;
  color: rgba(74, 71, 84, 1);
  position: absolute;
  top: 574px;
  left: 172px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.missiondesc {
  width: 290px;
  color: rgba(74, 71, 84, 1);
  position: absolute;
  top: 574px;
  left: 591px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.coredesc {
  width: 290px;
  color: rgba(74, 71, 84, 1);
  position: absolute;
  top: 574px;
  left: 1010px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.accuracyhead {
  width: 76px;
  color: rgba(72, 115, 255, 1);
  position: absolute;
  top: 647px;
  left: 1034px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.transparencyhead {
  width: 106px;
  color: rgba(72, 115, 255, 1);
  position: absolute;
  top: 673px;
  left: 1034px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.professionalhead {
  width: 106px;
  color: rgba(72, 115, 255, 1);
  position: absolute;
  top: 699px;
  left: 1034px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.collabhead {
  width: 106px;
  color: rgba(72, 115, 255, 1);
  position: absolute;
  top: 725px;
  left: 1034px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.innohead {
  width: 106px;
  color: rgba(72, 115, 255, 1);
  position: absolute;
  top: 751px;
  left: 1034px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.commavision2container {
  width: 38px;
  height: 38px;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 117px;
  overflow: hidden;
  z-index: 1;
}
.commamissioncontainer {
    width: 38px;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 524px;
    left: 535px;
    overflow: hidden;
    z-index: 1;
}
.commavaluescontainer {
    width: 38px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 524px;
    left: 951px;
    overflow: hidden;
    z-index: 1;
}
.commavisioncontainer {
  width: 39px;
  height: 38px;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 137px;
  overflow: hidden;
  z-index: 1;
}
.commavisionic {
  width: 13px;
  height: 22px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 13px;
  z-index: 1;
}
.commamission2container {
    width: 38px;
    height: 38px;
    /* background: rgba(255, 255, 255, 1); */
    opacity: 1;
    position: absolute;
    top: 524px;
    left: 555px;
    overflow: hidden;
    z-index: 1;
}
.commavalues2container {
    width: 38px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 524px;
    left: 971px;
    overflow: hidden;
    z-index: 1;
}
.trustdesc {
    width: 779px;
    color: rgba(74, 71, 84, 1);
    position: absolute;
    top: 969px;
    left: 383px;
    font-family: Red Hat Display;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.trusthead {
    width: 246px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 903px;
    left: 664px;
    font-family: Red Hat Display;
    font-weight: 800;
    font-size: 34px;
    opacity: 1;
    text-align: left;
}
.trusticon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 900px;
    left: 598px;
    overflow: hidden;
}
.accuracy {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 650px;
  left: 1010px;
  overflow: hidden;
  z-index: 1;
}

.proffesional {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 702px;
  left: 1010px;
  overflow: hidden;
  z-index: 1;
}
.transparency {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 676px;
  left: 1010px;
  overflow: hidden;
  z-index: 1;
}
.collaboration{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 726px;
    left: 1010px;
    overflow: hidden;
    z-index: 1;
}
.innovation{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 752px;
    left: 1010px;
    overflow: hidden;
    z-index: 1;
}
.visioncontainer {
  width: 67px;
  height: 32px;
  position: absolute;
  top: 466px;
  left: 293px;
  overflow: hidden;
  z-index: 1;
}
.vision {
  width: 67px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.missioncontainer {
  width: 82px;
  height: 32px;
  position: absolute;
  top: 466px;
  left: 705px;
  overflow: hidden;
  z-index: 1;
}
.mission {
  width: 82px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.corecontainer {
  width: 131px;
  height: 32px;
  position: absolute;
  top: 466px;
  left: 1099px;
  overflow: hidden;
  z-index: 1;
}
.core {
  width: 131px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.missionback {
  width: 265px;
  height: 265px;
  position: absolute;
  top: 511px;
  left: 587px;
  overflow: hidden;
  z-index: 2;
}
.trustunderline {
    width: 161px;
    position: absolute;
    top: 950px;
    left: 699px;
    border: 1px solid rgba(72, 115, 255, 1);
}
.visionicsec {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 458px;
  left: 241px;
  overflow: hidden;
  z-index: 1;
}
.visioniccontainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.visionic {
  width: 72px;
  height: 62px;
  opacity: 1;
  position: absolute;
  top: 9px;
  overflow: hidden;
}
.missionicsec {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 458px;
  left: 653px;
  overflow: hidden;
  z-index: 1;
}
.missioniccontainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.missionic {
  width: 79px;
  height: 63px;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.valuessec {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 458px;
  left: 1047px;
  overflow: hidden;
  z-index: 1;
}
.valuescontainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.valuesic {
  width: 73px;
  height: 68px;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v3_103 {
  width: 100%;
  height: 611px;
  background: url("../images/v3_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1245px;
  left: 0px;
  overflow: hidden;
}
.aboutuss {
  width: 213px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 216px;
  left: 647px;
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 48px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}
.abouuticsec {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 226px;
  left: 580px;
  overflow: hidden;
  z-index: 1;
}
.abouticcontainer {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 226.5px;
  left: 580px;
  overflow: hidden;
  z-index: 1;
}
.aboutic {
  width: 81px;
  height: 77px;
  opacity: 1;
  position: absolute;
  top: 226.5px;
  left: 580px;
  overflow: hidden;
  z-index: 1;
}
.footercontainer {
  width: 100%;
  height: 611px;
  background: url("../images/v2401_11410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1245px;
  left: 0px;
  overflow: hidden;
  z-index: 1;
}
.footer {
  width: 100%;
  height: 611px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
}
.footerlogo {
  width: 162px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 110px;
  overflow: hidden;
  z-index: 2;
}

.footercopyright {
  width: 401px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 535px;
  left: 119px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermenuR {
  width: 105px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 245px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.fottermenuB {
  width: 69px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 243px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermenuN {
  width: 84px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 287px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermenuA {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 331px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermenuT {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 375px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermenuS {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 419px;
  left: 119px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.facebook {
  width: 38px;
  height: 38px;
  background: url("assests/Group\ 105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 443px;
  overflow: hidden;
  z-index: 2;
}

.instagram {
  width: 38px;
  height: 38px;
  background: url("assests/Group\ 106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 489px;
  overflow: hidden;
  z-index: 2;
}
.twitter {
  width: 38px;
  height: 38px;
  background: url("assests/Group\ 107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 536px;
  overflow: hidden;
  z-index: 2;
}

.linkedin {
  width: 38px;
  height: 38px;
  background: url("assests/Group\ 108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 582px;
  overflow: hidden;
  z-index: 2;
}
.keepconnect {
  width: 200px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 111px;
  left: 443px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footercontact {
  width: 200px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 111px;
  left: 814px;
  font-family: Red Hat Display;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermail {
  width: 237px;
  height: 21px;
  position: absolute;
  top: 171px;
  left: 814px;
  overflow: hidden;
  z-index: 2;
}
.footermailtext {
  width: 205px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: -5px;
  left: 32px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footermailic {
  width: 26px;
  height: 26px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: -1px;
  overflow: hidden;
  z-index: 2;
}
.footermailimg {
  width: 20px;
  height: 15px;
  background: url("assests/bigmail.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  overflow: hidden;
  z-index: 2;
}

.footerphone {
  width: 221px;
  height: 24px;
  position: absolute;
  top: 212px;
  left: 814px;
  overflow: hidden;
  z-index: 2;
}
.footerphonetext {
  width: 191px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1px;
  left: 30px;
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}
.footerphoneic {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
}
.footerphoneimg {
  width: 20px;
  height: 20px;
  background: url("assests/20296458971553228387\ 2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
}

.movetoupborder {
  width: 67px;
  height: 72px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 1269px;
  border: 1px solid rgba(72, 115, 255, 1);
  border-radius: 5px;
  z-index: 2;
}
.movetoupcontainer {
  width: 26px;
  height: 26px;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 1290px;
  overflow: hidden;
  z-index: 2;
}
.movetoup {
  width: 25px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 2;
}
